# Backend
DATABASE_URL="postgresql://nutrifit:nutrifit123@localhost:5432/nutrifit?schema=public"
JWT_SECRET="nutrifit-super-secret-key-2026"
JWT_EXPIRES_IN="7d"
PORT=3001

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001"
