# Backend
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/nutrifit?schema=public"
JWT_SECRET="REPLACE_WITH_A_RANDOM_SECRET_OF_AT_LEAST_32_CHARACTERS"
JWT_EXPIRES_IN="7d"
PORT=3001
CORS_ORIGINS="http://localhost:3000,https://nutrifit-web-nu.vercel.app"
ADMIN_PASSWORD="REPLACE_WITH_A_UNIQUE_ADMIN_PASSWORD"
SELLER_PASSWORD="REPLACE_WITH_A_UNIQUE_SELLER_PASSWORD"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001"
